// Load the Layout
extends layout

// Degfine the content inside the layout
block content
  .bg-style.bg-jeans
      .container-fluid
        header#overview.jumbotron.subhead
          .row-fluid
            .span6
              h1 Emakina Template
            .span6
        //
          #####################################
          =================Typography================
          ######################################
        section#typography
          .page-header
            h1 Typography
          // Headings & Paragraph Copy
          .row-fluid
            .span12
              h1 H1. Heading 1
              h2.orange H2. Heading 2
          .row-fluid
            .span4
              div
                h3.gray H3. Heading 3
                h3.blue H3. Heading 3
                h3.orange H3. Heading 3
                h4 H4. Heading 4
                h5 H5. Heading 5
                h6.h7 H7. Heading 7 (footer)
                h6.h8 H8. Heading 8
            .span8
              h3.orange Example body text
              p
                | Praesent odio dui, luctus quis ultrices sed, aliquet ac nisl. Nam condimentum elit quis metus dictum vitae fermentum odio auctor. Pellentesque ut est ante, non aliquet purus. Donec turpis dolor, malesuada nec tempor non, tempus sed odio. Aliquam erat volutpat. Proin eget orci non ligula rhoncus vulputate. Etiam rutrum, nibh at imperdiet tincidunt, leo nisl aliquet sem, at pellentesque arcu purus vel augue.
              p
                | VSed gravida vehicula felis, sit amet vulputate velit porttitor et. Proin elementum nisl sed mauris luctus ac ornare dui venenatis. Donec quis augue tortor, vel posuere lectus. Sed at metus odio, tincidunt tincidunt mauris. Aliquam metus tortor, venenatis at iaculis eget, semper a libero.
              h4
                a.orange(href='#') H4. Heading 4
              h6.h8 H8. Heading 8
              p
                | Praesent odio dui, luctus quis ultrices sed, aliquet ac nisl. Nam condimentum elit quis metus dictum vitae fermentum odio auctor. Pellentesque ut est ante, non aliquet purus. Donec turpis dolor, malesuada nec tempor non, tempus sed odio.
              h3.green Example addresses
              address
                strong Emakina Belgium
                br
                p.adresse
                  | 64 a rue Middelbourg
                  br
                  |                         1170 - Brussels
                  br
                  |                         Belgium
                abbr(title='Telephone') T /
                |  +32 2 400 40 00
                br
                abbr(title='Faxe') F /
                |  +32 2 400 40 01
          // Typo form
          .row-fluid
            .span6.form
              div
                h1 H1. Heading 1
                h3.green H3. Heading 3
                h5 H5. Heading 5
                h6 H6. Heading 6
            .span6.form
              div
                h4
                  a.green(href='#')
                    | In viverra dui eu elit tempus
                    | id posuere nulla imperdiet
                h6.h8 H8. Heading 8
                p
                  | Lorem ipsum dolor sit amet consectetur adipiscing elit nunc tortor felis id.
          .row-fluid
            .span5
              blockquote.quote
                h2
                  | You drive,
                  br
                  |                         we forest
                p
                  | En 2012, Emakina a développé avec smart un concept novateur permettant 
                  | de communiquer sur l?association entre WeForest et smart.
                  cite(title='Source Title') Edouard Brown
            .span7
        //
          Buttons
          ==================================================
        section#buttons
          .page-header
            h1 Buttons
          table.table.table-bordered.table-striped
            thead
              tr
                th Button
                th Large Button
                th Small Button
            tbody
              tr
                td
                  a.btn.green(href='#') Button
                td
                  a.btn.green.btn-large(href='#') Button
                td
                  a.btn.green.btn-small(href='#') Button
              tr
                td
                  a.btn.orange(href='#') Button
                td
                  a.btn.orange.btn-large(href='#') Button
                td
                  a.btn.orange.btn-small(href='#') Button
              tr
                td
                  a.btn.blue(href='#') Button
                td
                  a.btn.blue.btn-large(href='#') Button
                td
                  a.btn.blue.btn-small(href='#') Button
              tr
                td
                  a.btn.gray(href='#') Button
                td
                  a.btn.gray.btn-large(href='#') Button
                td
                  a.btn.gray.btn-small(href='#') Button
              tr
                td
                  a.btn.white(href='#') Button
                td
                  a.btn.white.btn-large(href='#') Button
                td
                  a.btn.white.btn-small(href='#') Button
              tr
                td
                  a.btn.disabled(href='#') Button
                td
                  a.btn.disabled.btn-large(href='#') Button
                td
                  a.btn.disabled.btn-small(href='#') Button
              tr
                td
                  a.btn.green(href='#')
                    i.icon-btn.icon-white
                    | Button
                td
                  a.btn.green.btn-large(href='#')
                    i.icon-btn.icon-white
                    | Button
                td
                  a.btn.green.btn-small(href='#')
                    i.icon-btn.icon-white
                    | Button
              tr
                td
                  a.btn.orange(href='#')
                    i.icon-btn.icon-white
                    | Button
                td
                  a.btn.orange.btn-large(href='#')
                    i.icon-btn.icon-white
                    | Button
                td
                  a.btn.orange.btn-small(href='#')
                    i.icon-btn.icon-white
                    | Button
              tr
                td
                  a.btn.blue(href='#')
                    i.icon-btn.icon-white
                    | Button
                td
                  a.btn.blue.btn-large(href='#')
                    i.icon-btn.icon-white
                    | Button
                td
                  a.btn.blue.btn-small(href='#')
                    i.icon-btn.icon-white
                    | Button
              tr
                td
                  a.btn.gray(href='#')
                    i.icon-btn.icon-white
                    | Button
                td
                  a.btn.gray.btn-large(href='#')
                    i.icon-btn.icon-white
                    | Button
                td
                  a.btn.gray.btn-small(href='#')
                    i.icon-btn.icon-white
                    | Button
              tr
                td
                  a.btn.disabled(href='#') Button
                td
                  a.btn.disabled.btn-large(href='#') Button
                td
                  a.btn.disabled.btn-small(href='#') Button
              tr
                td
                  .btn-group
                    a.btn.green(href='#') Button
                    a.btn.green.dropdown-toggle(data-toggle='dropdown', href='#')
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li.divider
                      li
                        a(href='#') Button
                td
                  .btn-group
                    a.btn.green.btn-large(href='#') Button
                    a.btn.green.dropdown-toggle.btn-large(data-toggle='dropdown', href='#')
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li.divider
                      li
                        a(href='#') Button
                td
                  .btn-group
                    a.btn.green.btn-small(href='#') Button
                    a.btn.green.dropdown-toggle.btn-small(data-toggle='dropdown', href='#')
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li.divider
                      li
                        a(href='#') Button
              tr
                td
                  .btn-group
                    a.btn.orange(href='#') Button
                    a.btn.orange.dropdown-toggle(data-toggle='dropdown', href='#')
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li.divider
                      li
                        a(href='#') Button
                td
                  .btn-group
                    a.btn.orange.btn-large(href='#') Button
                    a.btn.orange.dropdown-toggle.btn-large(data-toggle='dropdown', href='#')
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li.divider
                      li
                        a(href='#') Button
                td
                  .btn-group
                    a.btn.orange.btn-small(href='#') Button
                    a.btn.orange.dropdown-toggle.btn-small(data-toggle='dropdown', href='#')
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li.divider
                      li
                        a(href='#') Button
              tr
                td
                  .btn-group
                    a.btn.blue(href='#') Button
                    a.btn.blue.dropdown-toggle(data-toggle='dropdown', href='#')
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li.divider
                      li
                        a(href='#') Button
                td
                  .btn-group
                    a.btn.blue.btn-large(href='#') Button
                    a.btn.blue.dropdown-toggle.btn-large(data-toggle='dropdown', href='#')
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li.divider
                      li
                        a(href='#') Button
                td
                  .btn-group
                    a.btn.blue.btn-small(href='#') Button
                    a.btn.blue.dropdown-toggle.btn-small(data-toggle='dropdown', href='#')
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li.divider
                      li
                        a(href='#') Button
              tr
                td
                  .btn-group
                    a.btn.gray(href='#') Button
                    a.btn.gray.dropdown-toggle(data-toggle='dropdown', href='#')
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li.divider
                      li
                        a(href='#') Button
                td
                  .btn-group
                    a.btn.gray.btn-large(href='#') Button
                    a.btn.gray.dropdown-toggle.btn-large(data-toggle='dropdown', href='#')
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li.divider
                      li
                        a(href='#') Button
                td
                  .btn-group
                    a.btn.gray.btn-small(href='#') Button
                    a.btn.gray.dropdown-toggle.btn-small(data-toggle='dropdown', href='#')
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li
                        a(href='#') Button
                      li.divider
                      li
                        a(href='#') Button
        //
          Tables
          ==================================================
        section#tables
          .page-header
            h1 Tables
          table.table.table-hover
            thead
              tr
                th #
                th First Name
                th Last Name
                th Username
            tbody
              tr
                td 1
                td Mark
                td Otto
                td @mdo
              tr
                td 2
                td Jacob
                td Thornton
                td @fat
              tr
                td 3
                td Larry
                td the Bird
                td @twitter
        //
          Miscellaneous
          ==================================================
        section#miscellaneous
          .page-header
            h1 Miscellaneous
          .row-fluid
            .span4
              h3#breadcrumbs Breadcrumbs
              ul.breadcrumb
                li.active Home
              ul.breadcrumb.orange
                li
                  a(href='#') Home
                  span.divider /
                li
                  a(href='#') Work
                  span.divider /
                li.active Case Smart
              ul.breadcrumb.blue
                li
                  a(href='#') Home
                  span.divider /
                li
                  a(href='#') Company
                  span.divider /
                li.active Group
              ul.breadcrumb.green
                li
                  a(href='#') Home
                  span.divider /
                li.active Contact
            .span4
              h3#pagination Pagination
              .pagination.orange
                ul
                  li
                    a(href='#')
                      img(src='/assets/img/prev_btn.png', alt='previous button', width='18', height='22')
                  li.active
                    a(href='#') 10
                  li.disabled
                    a(href='#') ...
                  li
                    a(href='#') 20
                  li
                    a(href='#')
                      img(src='/assets/img/next_btn.png', alt='next button', width='18', height='22')
              .pagination.orange
                ul
                  li.active
                    a(href='#') 1
                  li
                    a(href='#') 2
                  li
                    a(href='#') 3
                  li
                    a(href='#') 4
                  li
                    a(href='#') 5
              .pagination.blue
                ul
                  li
                    a(href='#')
                      img(src='/assets/img/prev_btn.png', alt='previous button', width='18', height='22')
                  li.active
                    a(href='#') 10
                  li.disabled
                    a(href='#') ...
                  li
                    a(href='#') 20
                  li
                    a(href='#')
                      img(src='/assets/img/next_btn.png', alt='next button', width='18', height='22')
              .pagination.blue
                ul
                  li.active
                    a(href='#') 1
                  li
                    a(href='#') 2
                  li
                    a(href='#') 3
                  li
                    a(href='#') 4
                  li
                    a(href='#') 5
              .pagination.green
                ul
                  li
                    a(href='#')
                      img(src='/assets/img/prev_btn.png', alt='previous button', width='18', height='22')
                  li.active
                    a(href='#') 10
                  li.disabled
                    a(href='#') ...
                  li
                    a(href='#') 20
                  li
                    a(href='#')
                      img(src='/assets/img/next_btn.png', alt='next button', width='18', height='22')
              .pagination.green
                ul
                  li.active
                    a(href='#') 1
                  li
                    a(href='#') 2
                  li
                    a(href='#') 3
                  li
                    a(href='#') 4
                  li
                    a(href='#') 5
            .span4
              h3#pager Pagers
              ul.pager
                li
                  a(href='#')
                    img(src='/assets/img/prev_btn.png', alt='previous button', width='18', height='22')
                    | Previous
                li
                  a(href='#')
                    span Next
                    img(src='/assets/img/next_btn.png', alt='next button', width='18', height='22')
          //
            Navs
            ==================================================
          .row-fluid
            .span12
              h3#tabs Tabs
              ul.tab-nav.clearfix
                li.active.btn.orange
                  a(href='#') Tab item 1
                li
                  a(href='#')
                    span Tab item 2
                li
                  a(href='#')
                    span Tab item 3
              ul.tab-nav.clearfix
                li.active.btn.blue
                  a(href='#') Tab item 1
                li
                  a(href='#')
                    span Tab item 2
                li
                  a(href='#')
                    span Tab item 3
              ul.tab-nav.clearfix
                li.active.btn.green
                  a(href='#') Tab item 1
                li
                  a(href='#')
                    span Tab item 2
                li
                  a(href='#')
                    span Tab item 3
          .row-fluid
            .span12
              h3#pills Pills
              ul.pils.tab-nav.clearfix
                li.active.btn.orange
                  a(href='#')  Tab item 1
                li
                  a(href='#') Tab item 2
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#')
                    | Dropdown 
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Separated link
                li.disabled
                  a(href='#') Disabled link
              ul.pils.tab-nav.clearfix
                li.active.btn.blue
                  a(href='#')  Tab item 1
                li
                  a(href='#') Tab item 2
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#')
                    | Dropdown 
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Separated link
                li.disabled
                  a(href='#') Disabled link
              ul.pils.tab-nav.clearfix
                li.active.btn.green
                  a(href='#')  Tab item 1
                li
                  a(href='#') Tab item 2
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#')
                    | Dropdown 
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Separated link
                li.disabled
                  a(href='#') Disabled link
          //
            Labels
            ==================================================
          .row-fluid
            .span6
              h3#labels Labels
              span.label Default
              span.label.label-success Success
              span.label.label-warning Warning
              span.label.label-important Important
              span.label.label-info Info
              span.label.label-inverse Inverse
            .span6
              h3#badges Badges
              span.badge Default
              span.badge.badge-success Success
              span.badge.badge-warning Warning
              span.badge.badge-important Important
              span.badge.badge-info Info
              span.badge.badge-inverse Inverse
          br
          //
            Progress bars
            ==================================================
          h3#progressbars Progress bars
          .row-fluid
            .span6
              .progress
                .bar.blue(style='width: 50%;')
            .span6
          .row-fluid
            .span6
              .progress
                .bar.orange(style='width: 50%;')
            .span6
          .row-fluid
            .span6
              .progress
                .bar.green(style='width: 50%;')
            .span6
          .row-fluid
            .span6
              .progress.progress-info.progress-striped
                .bar(style='width: 50%;')
            .span6
          .row-fluid
            .span6
              .progress.progress-danger.progress-striped.active
                .bar(style='width: 50%')
            .span6
          br
          //
            Alerts & Messages
            ==================================================
          h3#alerts Alerts
          .row-fluid
            .span12
              .alert.alert-block
                a.close ×
                h4.alert-heading Alert block
                p
                  | Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
          .row-fluid
            .span4
              .alert.alert-error
                a.close ×
                h5 Error
                p Change a few things up and try submitting again.
            .span4
              .alert.alert-success
                a.close ×
                h5 Success
                p You successfully read this important alert message.
            .span4
              .alert.alert-info
                a.close ×
                h5 Information
                p This alert needs your attention, but it's not super important.
        //
          #####################################
          =================Navbar================
          ######################################
        section#navbar
          .page-header
            h1 Navbars
        br
        br
        br
        //
          #####################################
          =================List================
          ######################################
        section
          .page-header
            h1 List
          br
          ul
            li Lorem Ipsum
            li
              | Lorem 
              strong Ipsum
            li
              a(href='#') Lorem Ipsum
          br
          ul.styled-blue
            li Lorem Ipsum
            li
              | Lorem 
              strong Ipsum
            li
              a(href='#') Lorem Ipsum
          br
          ul.styled-orange
            li Lorem Ipsum
            li
              | Lorem 
              strong Ipsum
            li
              a(href='#') Lorem Ipsum
        br
        br
        br
        //
          #####################################
          ==================Colorbox===============
          ######################################
        section
          .page-header
            h1 Colorbox
          br
          a(href='http://new.com.emakina.dev/00FD8D57-5056-A048-18816123305233D2') http://new.com.emakina.dev/00FD8D57-5056-A048-18816123305233D2
        br
        br
        br
        //
          #####################################
          ====================Form==================
          ######################################
        section
          .page-header
            h1 Form
          br
          .row-fluid
            .span12
              form.form-horizontal.form
                fieldset
                  .row-fluid
                    .span12
                      label(for='input') Text input
                      input#input(type='text', placeholder='Something')
                  .row-fluid
                    .span6
                      label(for='input02') Email
                      input#input02(type='text', placeholder='Email')
                    .span6
                      label(for='input03') Password
                      input#input03(type='password', placeholder='Password')
                  .row-fluid
                    .span12
                      label.checkbox(for='checkbox')
                        input#checkbox(type='checkbox', value='option1', checked='checked')
                        | Option one is this and that—be sure to include why it's great
                      label.checkbox(for='checkbox02')
                        input#checkbox02.disabled(type='checkbox', value='option1', disabled='')
                        | This is a disabled checkbox
                  .row-fluid
                    .span6
                      select#select
                        option NL
                        option FR
                  .row-fluid
                    label(for='fileInput') File input
                    input(type='file')
                  .row-fluid.holder
                    .span12
                      label(for='textarea') Textarea
                      textarea#textarea(rows='5')
                  .row-fluid.holder
                    .span6
                      label(for='readOnlyInput') Uneditable input
                      input#readOnlyInput.readOnly(type='text', placeholder='Uneditable input here?', readonly='readonly')
                      label(for='disabledInput') Disabled input
                      input#disabledInput.disabled(type='text', placeholder='Disabled input here?', disabled='disabled')
                  .row-fluid.holder
                    .span6
                      label(for='inputWarning') Input with warning
                      input#inputWarning.inputWarning(type='text', placeholder='something')
                      span.help-inline_inputWarning Something may have gone wrong
                      label(for='inputError') Input with error
                      input#inputError.inputError(type='text', placeholder='something')
                      span.help-inline_inputError Please correct the error
                      label(for='inputSuccess') Input with success
                      input#inputSuccess.inputSuccess(type='text', placeholder='something')
                      span.help-inline_inputSuccess Woohoo!
                  .row-fluid
                    .span12
                      .form-actions
                        button.btn.btn-large.gray(type='reset') Cancel
                        button.btn.btn-large.green(type='submit') Save changes
        br
        br
        br
        br
        br
        br