//- Load the Layout
extends ../lib/templates/layout

//- Case DEMO
block case
	.case.case-name
		//- Slide INFO
		section.slide
			.box.box-info
				.visu.visu-info
					.container-fluid
						header.row-fluid
							.span12
								h1.pull-left.orange
									span Case
									| Name
						.row-fluid.description
							.span5
								h2.orange 
								.info
									.row-fluid.sub1
										.span5 Client:
									hr
									.row-fluid.sub2
										.span5 Services:


		//- Slide NAME
		section.slide
			.box.box-name
				.visu.visu-name
					.container-fluid
						.row-fluid
		