@import "../lib/css/require.dev.less";

.case-sbab {

	background-color: black;

    .box-info {
        .visu-info {
            background: transparent url("@{imgPath}/box-info_bg.jpg") center top no-repeat;
            .container-fluid {

            }
        }
    }
    
    .box-challenge{
        background: #000;
    }

    .box-illu1,.box-illu2{
        min-height: 600px;
        background-size: cover;
    }
    .box-illu1{
        background: transparent url("@{imgPath}/illu1.jpg") center no-repeat;
    }

    .box-solution{
        background-color: #000;
    }
    .box-illu2{
        background: transparent url("@{imgPath}/illu2.jpg") center no-repeat;
        padding-bottom: 0;
    }
}

@media (max-width: 1200px) {}    

@media (max-width: 992px) {}

@media (max-width: 768px) {}
