// Box Contact
if environment === 'development'
	include contact
else
	s:snippet(name="case-box-contact")

footer
	.footer-container
		.container-fluid
			.row-fluid
				.span8.link
					.row-fluid
						.span3
							h4 Emakina Group
							ul
								li
									a(href='http://www.emakina.com/') About
								li
									a(href='http://www.emakina.com/') Strategy
								li
									a(href='http://www.emakina.com/') History
								li
									a(href='http://www.emakina.com/') Agencies
								li
									a(href='http://www.emakina.com/') Partners
								li
									a(href='http://www.emakina.com/people') People
							h4 Journal
							ul
								li
									a(href='http://www.emakina.com/#journal') Latests News
								li
									a(href='http://blog.emakina.com/en') View all posts
						.span3
							h4 Our agencies 
							ul
								li Emakina
								ol
									li
										a(href='http://www.emakina.be') Emakina.BE
									li
										a(href='http://www.emakina.ch') Emakina.CH
									li
										a(href='http://www.emakina.fr') Emakina.FR
									li
										a(href='http://www.emakina.nl') Emakina.NL
									li
										a(href='http://www.emakina.com.tr') Emakina.TR
								li
									a(href='http://www.thereference.be') The Reference
								li
									a(href='http://www.designisdead.be') Design is Dead
								li
									a(href='http://www.youragency.be') Your Agency
								li
									a(href='http://robertmarien.wordpress.com') Robert & Marien
						.span3
							h4 Financial 
							ul
								li
									a(href='http://www.emakina.com/financial/share') Share information
								li
									a(href='http://www.emakina.com/financial/reports') Reports
								li
									a(href='http://www.emakina.com/financial/structure') Structure
								li
									a(href='http://www.emakina.com/financial/news') Financial news
							h4 Contacts 
							ul
								li
									a(href='http://www.emakina.com/#contact') Management
								li
									a(href='http://www.emakina.com/#contact') Finances
								li
									a(href='http://www.emakina.com/#contact') Press
								li
									a(href='http://www.emakina.com/#contact') HR
						.span3
							h4 Career 
							ul
								li
									a(href='http://www.emakina.com/jobs') Working at Emakina
							h4 Free Download 
							ul
								li
									a(href='http://www.emakina.com/vr') Emakina Racing
				.span4
					.row-fluid.address
						.span10
							h4 Emakina Group
							p
								span 64 A Rue Middelbourg
								span 1170 - Brussels
								span Belgium
								p.vat
									span VAT / 
										span BE 0464.812.221
							p.phone
								span T / 
									span +32 2 400 40 00
								span F / 
									span +32 2 400 40 01

						.span2.logo
							img(src='../img/logo-emakina.png', alt='Emakina')
					.row-fluid
						.span12.social
							h4 Follow us
							ul
								li
									a(href='https://www.facebook.com/emakina', target='_blank')
										img(src='../img/social-facebook.png', alt='Facebook')
								li
									a(href='https://twitter.com/emakina', target='_blank')
										img(src='../img/social-twitter.png', alt='Twitter')
								li
									a(href='http://www.linkedin.com/company/emakina', target='_blank')
										img(src='../img/social-linkedin.png', alt='Linkedin')
								li
									a(href='http://www.flickr.com/groups/emakina/', target='_blank')
										img(src='../img/social-flickr.png', alt='Flickr')
								li
									a(href='https://vimeo.com/emakina', target='_blank')
										img(src='../img/social-vimeo.png', alt='Vimeo')
								li
									a(href='https://google.com/+emakina', target='_blank')
										img(src='../img/social-google.png', alt='Google +')
					.row-fluid.visible-phone
						.span4.pull-left
							.showAddress
								a.btn.green.btn-large.pull-right(href='/contact') Contact us
								.address-content
									.row-fluid.address
										.span10
											h4 Emakina Group
											p
												span 64 A Rue Middelbourg
												span 1170 - Brussels
												span Belgium
												p.vat
													span VAT / 
														span BE 0464.812.221
											p.phone
												span T / 
													span +32 2 400 40 00
												span F / 
													span +32 2 400 40 01
										.span2.logo
											img(src='../img/logo-emakina.png', alt='Emakina')
					.row-fluid.social
						.span12.pull-left
		.copyright
			.container-fluid
				.row-fluid
					.span12
						p Emakina © 2014 -
							a(target="_blank" href="http://www.emakina.com/legal/tos") Terms of Services
							| and
							a(target="_blank" href="http://www.emakina.com/legal/privacy") Privacy Policy	
							| www.emakina.com
						
